{% extends 'manager_template/base_template.html' %}

{% block page_title %}
  <strong> liste des employés</strong>
{% endblock page_title %}

{% block main_content %}
{% load static %}

    <section class="content">
    <div class="container-fluid">
        

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Département</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in employees_status %}
                            <tr>
                                <td>{{ item.employee.admin.first_name }} {{ item.employee.admin.last_name }}</td>
                                <td>{{ item.employee.department_id.name }}</td>
                                <td>
                                    {% if item.on_leave %}
                                        En congé
                                    {% else %}
                                        Présent
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>
{% endblock main_content %}
