{% extends 'rh_template/base_template.html' %}

{% block page_title %}
    SOLDE DES CONGES
{% endblock page_title %}

{% block main_content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Employés </th>
                <th>Solde des Congés</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.admin.username }}</td>
                    <td>{{ employee.leave_balance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main_content %}
