{% extends 'rh_template/base_template.html' %}

{% block page_title %}
   <strong> SOLDE DES CONGES </strong>
{% endblock page_title %}

{% block main_content %}
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>Nom des employés</th>
            <th>Solde des congés</th>
        </tr>
    </thead>
    <tbody>
        {% for balance in employee_balances %}
        <tr>
            <td>{{ balance.employee.admin.username }}</td>
            <td>{{ balance.leave_balance }} jours</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock main_content %}
