

{% extends 'rh_template/base_template.html' %}

{% block page_title %}
    Solde de Congé
{% endblock page_title %}

{% block main_content %}
    <table>
        <thead>
            <tr>
                <th>Employé   </th>
                <th>Solde de Congé</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.admin.username }}</td>
                    <td>{{ employee.leave_balance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock main_content %}
